extends layout

block content
  #home
    h1 ¿QUÉ ENCONTRARÁS?
    img(src='/images/home.png')
    p Encontrarás La sugerencia rutas para estudiantes de la facultad de Ingeniería de la Universidad Francisco José de Caldas, basados en el número de estudiantes que habitan cerca a los diferentes paraderos, en los museos existentes, CAIs, hospitales, bibliotecas principales y sedes de la universidad. 
