extends layout

block content
  #home
    h1 ¿QUÉ ENCONTRARÁS?
    img(src='/images/home.png')
    p Encontrarás La sugerencia de 15 rutas para estudiantes de la facultad de ingeniería, basados en el número de estudiantes que habitan cerca a los diferentes paraderos, en los museos existentes, CAIS, hospitales y sedes de la universidad. 
