border-radius(pixeles)
  border-radius pixeles
  -webkit-border-radius pixeles
  -moz-border-radius pixeles

a
  color #6574F9
  text-decoration none  
       
a:hover
    text-decoration: underline


#logo
  width 15%
  margin-left 8%
  margin-top 20px
  border 3px solid #EA1919
  border-radius(15px)
  float left

  img
    margin 7px 7px 7px 7px
    width 90%

#titulo
  width 77%
  float left

  p
    margin 1% 15%
    font-family 'Ravie', 'cursive' , 'bolt'
    color #60be51
    font-size 45px

#barra
  float right
  width 77%
  padding-left 12%
  height 80px

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus
  background-color #6574F9
  color #fff 

#contenido
  width 84%
  height auto
  margin-left 8%
  margin-top 40px
  border 3px solid #EA1919
  border-radius(15px)
  float left
  background-color #60be51
      
  #home
    text-align center
    width 90%
    margin 2% 5%
    color white    
    img
      width 50%
    p
      font-family 'Arial', 'cursive' , 'bolt'
      font-size 25px

#contacto
  border-top 3px solid #EA1919
  float left
  width 100%
  margin-top 5%
  background-color #6574F9
  
  #escudo
    padding 2% 2% 2% 5%
    text-align right
    width 35%
    float left
    img
      width 40%
  #autores
    text-align center
    color white
    width 65%
    padding 2% 2% 2% 0
    float left

#verRutas
  #lista
    padding 2% 5%
    text-align center
    h2
      color white
    select
      color gray
      width 30%
      margin auto
  #mapaVerRutas
    min-height 600px
    margin 3% 4%
    padding 0  
  #detallesRuta
    border 3px solid #EA1919
    border-radius(15px)
    padding 3%
    width 50%
    margin 2% 25%
    float left
    span
      color white
      width 100%
      float left
    h3 
      margin-top 0 
      color white
      width 100%
      text-align center
    #etiquetas
      width 40%
      padding 2%
      float left
    #valores
      width 60%
      padding 2%
      float left

#buscarRutas
  padding 2% 
  h2 
    color white
    margin-top 0
    text-align center
    padding 2%
  #opciones
    width 100%
    float left
    margin auto
    text-align center
    #barrio
      width 30%
      padding-left 7%
      float left
    #localidad
      padding-left 7%
      width 30%
      float left
    span 
      color white
      float left
      margin 0 !important
      width auto !important
      padding-left 1% !important
      padding-top 1% !important
    .checkboxBuscar
      width 20px
      height 20px 
      float left
      padding-top 1%
      :hover 
        cursor pointer
      input 
        display none

      span 
        width 20px !important
        height 20px
        display block
        background-color #60be51
        border 1.8px solid white          

      input:checked + span 
        background-color #116B15
        padding 4%
    #select
      width 40%
      float left
      text-align center
      select
        width 90%
  #listaResultado
    padding-bottom 3%
    width 96%
    float left
    margin 3% 2% 1% 2% 
    h3 
      color white
      text-align center
      width 100%
    p 
      color white
      text-align center
      width 100%
    ul 
      list-style-type none
      padding 2%
      background-color white
      margin auto
      width 25%
      min-height 200px
      color gray
      text-align center
      li 
        padding 2%
        a 
          color gray
        a:hover
          color #60be51
          text-decoration none

.container
  width auto 
  margin-top 5%
  a:hover
    text-decoration none
  .bb-custom-wrapper
    width 100%
    #bb-bookblock
      min-height 546px
      width 80%
      img
        width 100%