extends ../../../views/layout

block content
  #buscarRutas
    h2 BUSQUEDA DE RUTAS
    #opciones
      #barrio 
        label.checkboxBuscar
          input#checkBarrio(type="checkbox" name="barrio" checked)
          span
        span  &nbsp; POR BARRIO
      #localidad 
        label.checkboxBuscar
          input#checkLocalidad(type="checkbox" name="localidad")
          span
        span  &nbsp; POR LOCALIDAD
      #select
        select#selectBarrios(name="listaBarrios" class="form-control")
          option(value="none" selected="selected") Seleccione un barrio
        select#selectLocalidades(name="listaLocalidades" class="form-control" style="display:none")
          option(value="none" selected="selected") Seleccione una localidad
    #listaResultado
      h3 Resultado de Rutas
      p(style="display:none") Seleccione una ruta
      ul