extends ../../../views/layout

block content
  .container
    .main.clearfix
      .bb-custom-wrapper
        #bb-bookblock.bb-bookblock
          .bb-item
            img(src="/images/diapositivas/1.jpg" alt="image01")
          .bb-item
            img(src="/images/diapositivas/2.jpg" alt="image02")
          .bb-item
            img(src="/images/diapositivas/3.jpg" alt="image03")
          .bb-item
            img(src="/images/diapositivas/4.jpg" alt="image04")
          .bb-item
            img(src="/images/diapositivas/5.jpg" alt="image05")
        nav
          a#bb-nav-first.bb-custom-icon.bb-custom-icon-first(href="#") First page
          a#bb-nav-prev.bb-custom-icon.bb-custom-icon-arrow-left(href="#") Previous
          a#bb-nav-next.bb-custom-icon.bb-custom-icon-arrow-right(href="#") Next
          a#bb-nav-last.bb-custom-icon.bb-custom-icon-last(href="#") Last page