extends ../../../views/layout

block content
  .container
    .main.clearfix
      .bb-custom-wrapper
        #bb-bookblock.bb-bookblock
          -var contador=12
          -var i =1
          while i<=contador
            .bb-item
              img(src="/images/diapositivas/"+i+".jpg" alt="image"+i)
            -i++
        nav
          a#bb-nav-first.bb-custom-icon.bb-custom-icon-first(href="#") First page
          a#bb-nav-prev.bb-custom-icon.bb-custom-icon-arrow-left(href="#") Previous
          a#bb-nav-next.bb-custom-icon.bb-custom-icon-arrow-right(href="#") Next
          a#bb-nav-last.bb-custom-icon.bb-custom-icon-last(href="#") Last page