extends ../../../views/layout

block content
  #verRutas
    #lista
      h2 RUTAS
      br 
      select#selectVerRuta(name="listaRutas" class="form-control")    
        option(value="none" selected="selected") Seleccione una opción
    #mapaVerRutas
    #detallesRuta(style="display:none")
      h3 Datos Ruta 
      #etiquetas
        span Nombre:
        span Duración Hora Pico:
        span Duración Hora Valle:
        span Origen:
        span Destino:
        span Distancia:
        span Lugares de Interés:
      #valores
        span#nombre 
        span#duracionHoraPico
        span#duracionHoraValle
        span#origen
        span#destino 
        span#distancia 
        span#lugaresInteres